<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='wrapper' style='text-align: center;'>
  <div class="dev-info">
    <p class="name">
      Hey, I'm Roronoa Zoro
    </p>
    <p>
      I am an allround web developer from the East Blue.
      I am a senior web developer with good knowledge about front-end techniques. 
    </p>
    <p>
      App-version: "0.0.1"
    </p>
  </div>
  <div class="center-img">
    <img src="assets/icon/zoro.jpg" alt="zoro" />
  </div>
</div>

</ion-content>
