


.astronaut {
    border-radius: 13px;
    margin: 1rem;
    padding: 1rem;
    border: #ffffff 0.2rem solid;
    max-width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    box-shadow: 0px 0px 4px 3px black;
    font-size: 1.5rem;
  }

.centered{
    margin: auto;
    width: 50%;
    text-align: center;
}

@media (max-width: 768px) {

  .astronaut {
    border-radius: 13px;
    margin: 1rem;
    padding: 1rem;
    border: #ffffff 0.2rem solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    box-shadow: 0px 0px 4px 3px black;
    font-size: 1rem;
  }

  .centered{
    margin: auto;
    text-align: center;
    width: 100%;
  }
}